<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <remove fileExtension=".bahkf" />
            <mimeMap fileExtension=".bahkf" mimeType="application/octet-stream" />
        </staticContent>

        <httpErrors errorMode="Custom" existingResponse="Replace">
            <remove statusCode="404" />
            <error statusCode="404" path="Error.aspx" responseMode="Redirect" />
        </httpErrors>
    </system.webServer>
    
    <system.web>
        <customErrors mode="On" defaultRedirect="Error.aspx">
            <error statusCode="404" redirect="Error.aspx" />
        </customErrors>
        
        <httpRuntime requestValidationMode="2.0" />
        <compilation debug="false" targetFramework="4.0" />
    </system.web>
</configuration>